<%- include("head.ejs") %>
 <body>
    <!-- Menu de Navegacion -->
<header class="header">
        <div id="logo">
            <a><img src="Imagenes/undraw_programming_re_kg9v.svg"></a>
        </div>
        <nav class="nav-menu">

            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu-icon"><img src="Imagenes/menu.png"/></i>
            </label>

            <ul>
                <li class="element-nav"><a href="/inicio">Inicio</a></li>
                <li class="element-nav"><a href="/cursos">Cursos</a></li>
                <li class="element-nav"><a href="/peliculas">Peliculas</a></li>
                <li class="element-nav"><a href="/contacto">Contacto</a></li>
                <li class="element-nav" id="myaccount"><a href="/micuenta">Mi Cuenta</a></li>
            </ul>
            
        </nav>
</header>
    <!-- Portada Informativa -->
<div id="contentSearch" class="search">
    <div class="contentSearch">
        <input type="text" placeholder="Buscar" id="buscador">
    </div>
</div>
<main>
    <ul class="cursos">
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/htmlLogo.jpg">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar Html.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/css_blog.png">
                <div class="con-text">
                    <h2>Css</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar Css.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/Javascript.jpg">
                <div class="con-text">
                    <h2>Javascript</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar Javascript.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/nodejs.png">
                <div class="con-text">
                    <h2>NodeJs</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar NodeJs.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/mysql.png">
                <div class="con-text">
                    <h2>Mysql</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar MySql.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/postgresql.png">
                <div class="con-text">
                    <h2>PostgreSql</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar PostgreSql.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/react.png">
                <div class="con-text">
                    <h2>React</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar React.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
                <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/ruby.png">
                <div class="con-text">
                    <h2>Ruby</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar Ruby.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/postman.png">
                <div class="con-text">
                    <h2>Postman</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para aprender a usar Postman.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/vue.png">
                <div class="con-text">
                    <h2>Vue.Js</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar Vue.Js .
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/php.png">
                <div class="con-text">
                    <h2>Php</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar Php.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/python.jpg">
                <div class="con-text">
                    <h2>Python</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar Python.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/boostrap.png">
                <div class="con-text">
                    <h2>Boostrap</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para aprender a usar Boostrap.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/wordpress.png">
                <div class="con-text">
                    <h2>Wordpress</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para dominar Wordpress.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/frontend-backend.png">
                <div class="con-text">
                    <h2>Desarrollo Web</h2>
                    <p>
                        En este curso, aprenderas los conocimientos necesarios para introducirte y dominar el mundo del desarrolo web.
                        <button><a href="/registro/curso">Ingresar</a></button>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</main>
<!-- Footer -->
<%- include("footer.ejs") %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="Js/conexion.js"></script>
<script src="Js/buscador.js"></script>
</html>