<%- include("head.ejs") %>
 <body>
    <!-- Menu de Navegacion -->
<header class="header">
        <div id="logo">
            <a href="/inicio"><img src="Imagenes/undraw_programming_re_kg9v.svg"></a>
        </div>
        <nav class="nav-menu">

            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu-icon"><img src="Imagenes/menu.png"/></i>
            </label>

            <ul>
                <li class="element-nav"><a href="/inicio">Inicio</a></li>
                <li class="element-nav"><a href="/cursos">Cursos</a></li>
                <li class="element-nav"><a href="/contacto">Contacto</a></li>
                <li class="element-nav" id="myaccount"><a href="/micuenta">Mi Cuenta</a></li>
                <li class="element-nav" id="iniSesion"><a href="/login">Iniciar Sesión</a></li>
            </ul>
            
        </nav>
</header>
    <!-- Portada Informativa -->
<div class="search">
    <div class="contentSearch">
        <input type="text" placeholder="Buscar" id="buscador">
    </div>
</div>
<main>
    <ul class="cursos">
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
                <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="curso-poster" src="Imagenes/cursoPrueba.jpg" alt="Spiderman">
                <div class="con-text">
                    <h2>HTML</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                        <button>Leer mas...</button>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</main>
<!-- Footer -->
<%- include("footer.ejs") %>
</body>
</html>