<%- include("head.ejs") %>
<body id="body-error">
        <!-- Menu de Navegacion -->
<header class="header">
    <div id="logo">
        <a href="/inicio"><img src="Imagenes/undraw_programming_re_kg9v.svg"></a>
    </div>
    <nav class="nav-menu">

        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="menu-icon"><img src="Imagenes/menu.png"/></i>
        </label>

        <ul>
            <li class="element-nav"><a href="/inicioGuest">Inicio</a></li>
            <li class="element-nav"><a href="/errorAccess">Cursos</a></li>
            <li class="element-nav"><a href="/errorAccess">Contacto</a></li>
            <li class="element-nav" id="iniSesion"><a href="/login">Iniciar Sesión</a></li>
        </ul>
        
    </nav>
</header>
    <div class="wrapper">
        <h1>Necesitas crear una cuenta para poder acceder a esta página.</h1>
        <p>Por favor dirigete a nuestro registro y crear una nueva cuenta para poder seguir accediendo a nuestros servicios.</p>
        <div class="buttons">
            <button class="btn btn1"><a href="/">Regresar</a></button>
            <button class="btn btn2"><a href="/registro">Registro</a></button>
        </div>
    </div>
</body>
<%- include("footer.ejs") %>
</html>