<%- include("head.ejs") %>
<body>
    <!-- Menu de Navegacion -->
<header class="header">
    <div id="logo">
        <a href="/inicio"><img src="Imagenes/undraw_programming_re_kg9v.svg"></a>
    </div>
    
    <nav class="nav-menu">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="menu-icon"><img src="Imagenes/menu.png"/></i>
        </label>
        <ul>
            <li class="element-nav"><a href="/inicio">Inicio</a></li>
            <li class="element-nav"><a href="/cursos">Cursos</a></li>
            <li class="element-nav"><a href="/contacto">Contacto</a></li>
            <li class="element-nav" id="myaccount"><a href="/micuenta">Mi Cuenta</a></li>
            <li class="element-nav" id="iniSesion"><a href="/login">Iniciar Sesión</a></li>
        </ul>        
    </nav>
</header>
<main>
    <!-- Portada Informativa -->
    <div class="portada">
        <div class="containerPortada">
            <h2 class="tituloPortada">Empieza el camino a tu futuro</h2>
            <p class="contentPortada">Estudia y certificate con nuestra variedad de cursos que puedes ver cuando quieras y donde quieras tan solo pagando nuestra membresía.</p>
            <button class="btnPortada">Comienza ahora</button>
        </div>
    </div>    
    <!-- Tablas de información -->
    <div id="contentProductos">
        <div class="box">
                <img class="icon" src="Imagenes/gorro-de-graduacion.png">
            <h2 class="title-post">Cursos Certificados</h2>
            <p class="description">Avalados por el Ministerio del Poder Popular para la Educación.</p>
        </div>
        <div class="box">
                <img class="icon" src="Imagenes/usuarios.png">
            <h2 class="title-post">Profesores Expertos</h2>
            <p class="description">Responsables y comprometidos con los estudiantes.</p>
        </div>
        <div class="box">
                <img class="icon" src="Imagenes/telefono-inteligente.png">
            <h2 class="title-post">Desde Casa</h2>
            <p class="description">Disfruta cualquiera de nuestros cursos online.</p>
        </div>
        <div class="box">
                <img class="icon" src="Imagenes/casa.png">
            <h2 class="title-post">Soporte 24h</h2>
            <p class="description">Comunícate a nuestro Whatsapp para informar o reportar.</p>
        </div>
    </div>
    <!-- Cursos mas populares -->
    <div id="contentCursos">
        <!-- <h1 id="tituloContentCursos">Conoce nuestros cursos más populares:</h1> -->
        <ul class="cursos">
            <li class="curso">
                <div class="card">
                    <img class="curso-poster" src="Imagenes/htmlLogo.jpg" alt="Spiderman">
                    <div class="con-text">
                        <h2>Html</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                            <button>Leer mas...</button>
                        </p>
                    </div>
                </div>
            </li>
            <li class="curso">
                <div class="card">
                    <img class="curso-poster" src="Imagenes/css_blog.png" alt="Spiderman">
                    <div class="con-text">
                        <h2>Css</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                            <button>Leer mas...</button>
                        </p>
                    </div>
                </div>
            </li>            
            <li class="curso">
                <div class="card">
                    <img class="curso-poster" src="Imagenes/Javascript.jpg" alt="Spiderman">
                    <div class="con-text">
                        <h2>Javascript</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                            <button>Leer mas...</button>
                        </p>
                    </div>
                </div>
            </li>
            <li class="curso">
                <div class="card">
                    <img class="curso-poster" src="Imagenes/nodejs.png" alt="Spiderman">
                    <div class="con-text">
                        <h2>NodeJs</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere aliquam tempore iste dignissimos possimus animi explicabo debitis optio dolorum!
                            <button>Leer mas...</button>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- Informacion -->
    <section id="InformacionInicio">
        <figcaption>
            <img src="Imagenes/slider1.jpg" class="imagen">
        </figcaption>

        <article>
            <h1 class="titulo-articulo">Habilitando la transformación</h1>
            <p class="parrafo">Tu experiencia de aprendizaje en Nova Academy se basa en ciencia cognitiva de vanguardia. Con más de dos docenas de funciones de aprendizaje distintas para ayudarte a lograr tus objetivos, nuestro enfoque sigue tres principios clave:</p>
            <h2 class="subtitulo-articulo">Experimenta</h2>
            <p class="parrafo">Aprende nuevos conocimientos y habilidades en una variedad de formas, desde videos de expertos y textos y gráficos dinámicos hasta visualizaciones de datos y elementos interactivos.
            </p>
            <h2 class="subtitulo-articulo">Practica</h2>
            <p class="parrafo">Una parte fundamental del aprendizaje es la capacidad de demostrar tu conocimiento. Los cursos y programas de Nova Academy brindan un espacio para practicar con cuestionarios, evaluaciones de respuesta abierta, entornos virtuales y más.
            </p>
            <h2 class="subtitulo-articulo">Actualizar</h2>
            <p class="parrafo">Aprender en Nova Academy transforma tu forma de pensar y lo que puedes hacer, y se traduce directamente en el mundo real: aplica inmediatamente tus nuevas capacidades en el contexto de tu trabajo.
            </p>
        </article>
    </section>
</main>
      <!-- Footer -->
      <%- include("footer.ejs") %>
</body>
</html>