<%- include("head.ejs") %> 
<body id="bodyLogin">
<!-- Menu de Navegacion -->
<header class="header">
      <div id="logo">
          <a href="/inicio"><img src="Imagenes/undraw_programming_re_kg9v.svg"></a>
      </div>
      <nav class="nav-menu">

          <input type="checkbox" id="check"  >
          <label for="check" class="checkbtn"  id="checkbtn1" onclick="mostrarMenu()">
              <i class="menu-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAExJREFUSEtjZKAxYKSx+QyjFhAM4QEJov8EnYVfAYqjsfmA5hZQ6AFU7QMSBzT3Ac3jgOYW0DyIhr4FNI8Dmlsw9ONg1AcoIUDz0hQAbegGGXzv/l0AAAAASUVORK5CYII="/></i>
          </label>

          <input type="checkbox" id="check2"  >
          <label for="check" class="checkbtn"  id="checkbtn2" onclick="ocultarMenu()">
              <i class="menu-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAExJREFUSEtjZKAxYKSx+QyjFhAM4QEJov8EnYVfAYqjsfmA5hZQ6AFU7QMSBzT3Ac3jgOYW0DyIhr4FNI8Dmlsw9ONg1AcoIUDz0hQAbegGGXzv/l0AAAAASUVORK5CYII="/></i>
          </label>

          <ul id="cerrar-menu">
              <li class="element-nav"><a href="/inicio">Inicio</a></li>
              <li class="element-nav"><a href="/cursos">Cursos</a></li>
              <li class="element-nav"><a href="/contacto">Contacto</a></li>
              <li class="element-nav" id="iniSesion"><a href="/login">Iniciar Sesión</a></li>

          </ul>
          
      </nav>
</header>
   
<!-- Formulario de Registro -->
<main>
<section id="containerForm">
         <div id="login" class="form login">
             <div class="form-content">
                 <h1 id="tituloLogin">Inicia Sesión</h1>
                 <form method="post" action="/login">
                     <div class="field input-field">
                         <input type="email" id="emailLogin" name="email" placeholder="Email" class="input">
                     </div>

                     <div class="field input-field">
                         <input type="password" id="passLogin" name="password" placeholder="Password" class="Contraseña">
                         <i class='bx bx-hide eye-icon'></i>
                     </div>

                     <div class="form-link">
                         <a href="#" class="forgot-pass">Olvidaste tu contraseña?</a>
                     </div>

                     <div class="field button-field">
                         <input class="button" type="submit" value="Iniciar" id="btnIniciar">
                     </div>
                 </form>

                 <div class="form-link">
                     <span>Aún no tienes una cuenta? <a href="/registro" class="link signup-link">Registrate</a></span>
                 </div>
             </div>


         
         </div>
</section>
</main>

<%- include("footer.ejs") %>
</body>
<!-- <script src="Js/login.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script src="Js/conexion.js"></script>
</html>