<header>
    <figure>
        <img id="logo" src="Imagenes/logoIcon.svg">
    </figure>
    <nav>
        <ul id="main-nav">
          <li class="element-nav"><a href="/inicio">Inicio</a></li>
          <li class="element-nav"><a href="/cursos">Cursos</a></li>
          <li class="element-nav"><a href="/contacto">Contacto</a></li>
          <li class="element-nav" id="myaccount"><a href="/micuenta">Mi Cuenta</a></li>
          <li class="element-nav" id="iniSesion"><a href="/registro">Iniciar Sesión</a></li>
        </ul>
    </nav>
</header>