<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Academy</title>
    <!-- Css -->
    <link rel="stylesheet" href="Css/menu-nav3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/js/all.js">
</head> 
<body>
    <div id="content">
        <span class="slide">
            <a href="#" class="open" onclick="openSlideMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </span>

        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <a href="/inicio" class="element-nav" >Inicio</a>
            <a href="/cursos" class="element-nav">Cursos</a>
            <a href="/contacto" class="element-nav">Contacto</a>
            <a href="/registro" class="element-nav">Ingresar</a>
        </div>
    </div>
</body>
<script src="Js/menu.js"></script>
</html>