<%- include("head.ejs") %>
<body>
    <header class="header">
        <div id="logo">
            <a href="/inicio"><img src="Imagenes/undraw_programming_re_kg9v.svg"></a>
        </div>
        
        <nav class="nav-menu">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu-icon"><img src="Imagenes/menu.png"/></i>
            </label>
            <ul>
                <li class="element-nav"><a href="/inicio">Inicio</a></li>
                <li class="element-nav"><a href="/cursos">Cursos</a></li>
                <li class="element-nav"><a href="/peliculas">Peliculas</a></li>
                <li class="element-nav"><a href="/contacto">Contacto</a></li>
                <li class="element-nav" id="myaccount"><a href="/micuenta">Mi Cuenta</a></li>
            </ul>        
        </nav>
    </header>
    <main>
        <div class="portadaPerfil">
            <div class="contentCuenta">


                <h1 id="nombreUser">Bienvenido Usuario</h1>                
                <button id="btnEditarDatos1" onclick="mostrarForm()" class="btnPerfil">Editar Perfil</button>
                <button id="btnEditarDatos2" onclick="ocultarForm()" class="btnPerfil">Editar Perfil</button>
            </div>
        </div>
        <section id="editarDatos">
            <h1>Edita tus datos</h1>
            <form method="post" action="/update/user">
                <div class="formulario__grupo">
                    <label for="nombre" class="formulario__label">Nombre</label>
                    <input type="text" class="formulario__input" name="nombre" id="" required placeholder="Nombre">
                </div>
                    
                <div class="formulario__grupo">
                    <label for="apellido" class="formulario__label">Apellido</label>
                    <input type="text" class="formulario__input" name="apellido" id="" required placeholder="Apellidos">
                </div>
                <div class="formulario__grupo">
                    <label for="telefono" class="formulario__label">Teléfono</label>
                    <input type="tel" class="formulario__input" name="telefono" id="" required placeholder="Teléfono">
                </div>
                <div class="formulario__grupo">
                    <label for="correo" class="formulario__label">Correo</label>
                    <input type="email" class="formulario__input" name="email" id="" required placeholder="Correo">
                </div>
                <div class="formulario__grupo">
                    <label for="clave" class="formulario__label">Contraseña</label>
                    <input type="password" class="formulario__input" name="clave" id="" required placeholder="Contraseña">
                </div>
                <div class="formulario__grupo">
                    <label for="confirmClave" class="formulario__label">Confirmar Contraseña</label>
                    <input type="password" class="formulario__input" name="confirmClave" id="" required placeholder="Confirmar Contraseña">
                </div>
                <button type="submit" class="formulario__btn">Guardar</button>
            </form>
        </section>

        <div id="contentProductos">
            <div class="box" href="/cursos">
                    <img class="icon" src="Imagenes/telefono-inteligente.png">
                <h2 class="title-post">Desde Casa</h2>
                <p class="description">Disfruta cualquiera de nuestros cursos online. Puedes ir a nuestra pestaña de cursos para acceder a ellos.</p>
            </div>
            <div class="box" href="/contacto">
                    <img class="icon" src="Imagenes/casa.png">
                <h2 class="title-post">Soporte 24h</h2>
                <p class="description">Si necesitas ayuda o quieres reportar algun inconveniente por favor dirigete a la pestaña de contacto y escribenos.</p>
            </div>
        </div>
        <button  class="cerrarSesion"><a href="/">Cerrar Sesión</a></button>
    </main>
    <!-- footer -->
    <%- include("footer.ejs") %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="Js/conexion.js"></script>
</html>