.container_crud{
    margin:25px;
	color: white;
}

.container_crud .content-table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 0.9em;
	min-width: 1000px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 15px #545454;
}

.container_crud .content-table thead tr{
	background-color: #4ad295;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.container_crud .content-table thead{
	font-size: 18px;
	font-family: dos;
}

.container_crud .content-table td{
	padding: 12px 15px;
}

.container_crud .content-table tbody{
    color:white;
}

.container_crud .content-table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.container_crud .content-table tbody tr:last-of-type{
	border-bottom: 2px solid #000;
}

.container_crud .content-table td i{
	color: #fff;
}

.container_crud .content-table .btn-us{
	background: #4ad295;
	border: none;
	border-radius: 0.31em;
	padding: 0.4em 1.8em;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
	margin: auto;
}

.container_crud .content-table .btn-us a{
	color: #000;
}

.container_crud form .mb-3 input{
	border: #545454;
}
